<div class="container">
    <div class="row">
      <h2>Edit this shift</h2>
      <%= render 'form' %>
      <br>
      <%= link_to 'Back to all shifts', shifts_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
