<div class="container">
  <div class="row">
    <h3>Shifts list</h3>
    <% @shifts.each do |shift| %>
     <p> <%= shift.date %> </p>
     <p> <%= shift.worker.name %> </p>
     <br> <br>
    <% end %>

    <%= link_to "Add a shift", new_shift_path %>

  </div>
</div>
