<div class="container">
    <div class="row">
      <h2>Edit thi worker</h2>
      <%= render 'form' %>
      <br>
      <%= link_to 'Back', workers_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
