<div class="container">
  <div class="row">
    <h3>WORKERS LIST</h3>
    <% @workers.each do |worker| %>
      <div class="card">
      <p> <%= worker.name %> </p>
      <%= link_to "Edit this worker", edit_worker_path(worker) %>
      </div>
    <% end %>

    <div class="card">
      <%= link_to "Add a worker", new_worker_path %>
      <br>
      <%= link_to "See shifts", shifts_path %>
    </div>
  </div>
</div>
