<div class="container">
  <div class="row">
    <h3> <strong> WORKERS LIST </strong></h3>
    <% @workers.each do |worker| %>
      <div class="card">
      <p> <%= worker.name %> </p>
      <%= link_to "Edit this worker", edit_worker_path(worker) %>
      </div>
    <% end %>

    <div class="card">
      <%= link_to "Add a worker", new_worker_path, class: "btn btn-success" %>
      <br> <br>
      <%= link_to "See shifts", shifts_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
